root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
tab_width = 4
no-wildcard-imports = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ktlint_import-ordering = disabled


[*.{kt,kts}]
ktlint_standard_final-newline = disabled # Disables the `final-newline` rule provided by KtLint
ktlint_standard_some-experimental-rule = enabled # Enables the (experimental) `some-experimental-rule` in the `standard` rule set provided by KtLint
ktlint_custom-rule-set_custom-rule = disabled # Disables the `custom-rule` rule in the `custom-rule-set` rule set (not provided by KtLint)
ktlint_max_line_length = disabled
ktlint_no-wildcard-imports = disabled
ktlint_import-ordering = disabled
ktlint_comment-spacing = disabled
ktlint_insert_final_newline = disabled
ktlint_ij_kotlin_allow_trailing_comma = disabled
ktlint_ij_kotlin_allow_trailing_comma_on_call_site = disabled

[*.yml]
indent_size = 2
tab_width = 2
